body {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8em;
  padding-right: 2em;
}

.ui.grid > .column:not(.row).section, .ui.grid > .row > .column.section {
  padding-right: 2.2em;
}

.ui.grid > .column:not(.row).section.section:after, .ui.grid > .row > .column.section:after {
  content: "";
  display: block;
  border-bottom: solid 1px lightgray;
  padding-top: 2em;
}

